.content{
    flex-direction: column;
    display: flex;
    align-items: center center;
    margin-top: 12%;
    z-index: 2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
}

.card{
    min-width: 100%;
    min-height: 650px;
    display: flex;
    overflow-x: auto; 
    margin: 15px;
}

.card-content{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        min-width: 200px;
        margin: 25px;
        z-index: 5;
        height: 100%;
}

.card-content:hover {
    box-shadow: 5px 5px 5px 5px black;
}

.card::-webkit-scrollbar {
    display: none;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

.buttons {
    margin:5%;
}