<div class="content" style="overflow-y: hidden;">
  <div class="card">
    <div 
    (click)="goTo(book.id)"
    class="card-content pointer" fxLayout="column" fxFlex="30" *ngFor="let book of books | async">
      <mat-card 
      class="inside">
        <div style="text-align: center; margin-bottom: 1px;">
         <h3 style="color: #FFD740; margin-top: 0;">{{book.title | title}}</h3> 
        </div>
        <mat-card-content style="text-align: center; height: 330px;" >
          <img *ngIf="book.image" [src]="book.image" alt="" class="img">
            <br>
            {{book.author}}

            <h3 style="color:#F57F17">Actual page:</h3>
            <h3 *ngIf="book.pagesR < book.pages">{{book.pagesR}}</h3>
            <h3 *ngIf="book.pagesR>=books.pages">Finished</h3>
            <button
            (click)="goTo(book.id)"
            class="buttons" mat-raised-button color="primary">
              Progress
            </button>
            
            <button
            [swal]="{title:'Do you want to delete the book?', showCanelButton:true}"
            (confirm)="delete(book.id)"
            (cancel)="noDelete()"
            class="buttons" mat-raised-button color="warn">
              Delete
            </button>
        </mat-card-content>
      </mat-card>
  </div>
  </div>
</div>