.content{
    flex-direction: column;
    display: flex;
    align-items: center center;
    z-index: 5;
    height: 100%;
    width: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

.card{
    display: flex;
    Overflow:scroll; 
    overflow-y:hidden;
    padding: 10px;
}

.card-content{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        min-width: 200px;
        margin-left:20px;
        z-index: 5;
        height: 100%;
        overflow:hidden;
        max-width: 750px;
        background: red;
}

.card-content:hover {
    box-shadow: 5px 5px 5px 5px black;
}

.card::-webkit-scrollbar {
    display: none;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

.buttons {
    margin:5%;
}

.inside{
    color: #f57f17;
    background: #707070;
}