
<h1 style="text-align: center; color: white;">Your Library</h1>
<div class="content">
  <div 
  (click)="goTo(book)"
  class="card pointer" fxLayout="column" fxFlex="30" *ngFor="let book of library | keys">
    <mat-card style="color:#97C95C;" class="card-content">
      <mat-card-title>
        {{library[book].title}}
      </mat-card-title>
      <mat-card-content>
          {{library[book].author}}
          <br>
          <h3 style="color:white">Progress:<br><small>{{library[book].read}}/{{library[book].pages}}</small></h3>
      </mat-card-content>
    </mat-card>
</div>
</div>