
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .menuUl {
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 0%;
  }
.menuLi{
  margin-top: 35px;
}

.menuLi:hover {
  color: #C9954E;
}

.registerB {
  margin: 2%;
  position: fixed;
  bottom: 5;
}

.img-round{
  width: 50px;
  height: 50px;
  margin: 12% 5% 12% 25%;
  border-radius: 15px;
  display: block;
}