<mat-drawer #sidebar class="example-sidenav" mode="side">
  <button  mat-mini-fab color ="warn" (click)="sidenav.close()" style="margin-left: 25%">
    <i class="material-icons">
      close
      </i>
  </button>
  <img 
  [routerLink]="['/books','main']"
  [src]="photo" class="img-round pointer">
  <h5>{{username}}</h5>
  <h5 class="pointer">{{email}}</h5>
  <ul class="menuUl">
    <li   [routerLink]="['/books',menu.url]" class="menuLi pointer" *ngFor="let menu of Menu">
      {{menu.title}}
    </li>
  </ul>

  <button 
  (click)="logout()"
  class="registerB" mat-raised-button color ="accent">
    Log out
  </button>
</mat-drawer>

