<div class="background-image"></div>

<div class="login">

  <div fxFlex="grow" fxLayout="row"  fxFlexAlign="center center">

      <div fxFlex 
      class="form" >
          <mat-card>
            <div class="header">
              <h3>Login</h3>
            </div>
         
            <mat-card-content style="text-align: center">
              <button 
              (click)="login()"
              mat-raised-button color = "primary">
                Google
              </button>
            </mat-card-content>
          </mat-card>
    </div>
    
  </div>
    