<div class="background-image"></div>

<div class="login">

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="form" fxFlex="20">
      <mat-card>
          <div class="header">
            <h1>Login</h1>
          </div>

          <mat-card-content style="text-align: center">
            <h3>Login to Books with your favorite social network account</h3>
            <button
            (click)="login()"
            mat-raised-button color="primary">
            <i class="material-icons">
              face
              </i>
              Google
            </button>
          </mat-card-content>
      </mat-card>
    </div>
  </div>

  </div>
    