
<div style="overflow-y: hidden; height: 100%;" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
  
        <div style="overflow-y: hidden;" class="example-sidenav-content">
        
        <mat-sidenav-container style="overflow-y: hidden;"  class="container">

            <div class="head" fxLayout="row" fxLayout.xs="column" >
                <div [ngStyle]="{'font-size.px': 15, color: 'black'}" fxFlex>
                    <h1 style="text-align:center; margin: 0;">Books</h1>
                </div>
            </div>            
 
                <mat-sidenav #sidebar  class="example-sidenav" mode="over">
                     
                        <img 
                        [routerLink]="['/books','main']"
                        [src]="user.photo" class="img-round pointer noneOut">
                        <h5>{{user.name}}</h5>
                        <h5 class="pointer">{{user.email}}</h5>
                        <ul class="menuUl">
                          <li routerLinkActive="focus"  [routerLink]="['/books',menu.url]" class="menuLi pointer noneOut" *ngFor="let menu of menu">
                            {{menu.title}}
                          </li>
                        </ul>
                      
                        <button 
                        (click)="logout()"
                        class="registerB" mat-raised-button color ="accent">
                          Log out
                        </button>

                      </mat-sidenav>
                      
                      <div class="background-image"></div>
                
                    <button style="margin: 1%;" type="button" mat-mini-fab color='primary' (click)="open(sidebar)">
                        <i class="material-icons">
                            menu
                            </i>
                    </button>
                    
                    <div  style="width:100%;" fxLayout="row">
                              
                            <router-outlet></router-outlet>
                    </div>
            </mat-sidenav-container>
        </div>
</div>