<div class="prueba" style="overflow-x:hidden ">
      <mat-card style="padding-top: 0" class="form">
        <mat-card-title>
          <h3 style="margin: 0">Update book</h3>
        </mat-card-title>
        <mat-card-content  style="text-align: center">
            <form [formGroup]="booksForm" (ngSubmit)="update()" novalidate>
              <mat-form-field class="complete">
                <input formControlName="title" matInput placeholder="Title" value="" class="complete">
              </mat-form-field>
           
              <mat-form-field class="complete">
                <input formControlName="author" matInput placeholder="Author" value="" class="complete">
              </mat-form-field>
        
              <mat-form-field class="complete">
                <input formControlName="publisher" matInput placeholder="publisher" value="" class="complete">
              </mat-form-field>
              
              <div class="complete">
                  <input (change)="selectImage($event.target.files)"  type="file">
              </div>

              <br>
              <div *ngIf="book">
                  <img [src]="book.image" *ngIf="book.image" class="img" alt="">

              </div>
              <br>
              <button mat-stroked-button color="primary">Submit</button>
            </form>
          </mat-card-content>
      </mat-card>
</div>