@import "~@angular/material/prebuilt-themes/indigo-pink.css";



html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    width: 100%;
    font-family: 'Roboto';
    overflow: hidden

  }

.pointer{
    cursor: pointer;
}

.focus{
    font-weight: bold;
    color: #97C95C;
}

.noneOut{
    outline: none;
}

.mat-drawer-content {
    overflow-y:hidden !important;
  }
